body {
  font-family: Arial, sans-serif;
  background-color: #d2e9ff;
  background-image: url("https://64.media.tumblr.com/a5cbdf9f87bd7dcb737c1ee81df0cb59/tumblr_inline_mns7vmgGqW1qz4rgp.png");
  margin: 0;

}

h1 {
    font-family: Arial,sans-serif;
    font-size:35px;
    background-color:#7fbdf7;
    padding-bottom:5px;
    margin-bottom:5px;
    
}

h2 {
    margin-bottom: 5px;
}

select {
    font-family: Arial, sans-serif;
    line-height: 9px;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
}

th, td {
    margin-top: 0px;
    padding: 5px; 
    
}

button {
    margin-top: 15px;
    margin-bottom: 15px;
}
.parent {
    display: flex;
}

.probabilitybox {
    flex: 1;
}

.offspringbox { 
    flex: 1;
}

.show-chances { 
    border-style: outset;
    margin-left: 15px;
    margin-right: 15px;
    height: 450;
}

.show-offspring { 
    border-style: outset;
    margin-left: 15px;
    margin-right: 15px;
    height: 450;
}